* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

nav {
  background: #f8f8f8;
  padding: 1.5rem 1rem;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__item {
  list-style-type: none;
  margin-right: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
  transition: 0.4s ease;
}

.dropdown p {
  padding: 7px;
  transition: 0.4s ease;
}

.dropdown p:hover {
  background: #ddd;
}

[data-showDropdown] {
  position: relative;
}

[data-showDropdown="false"] .dropdown {
  opacity: 0;
}
